**/.vscode

# Build
**/build
**/dist
**/.turbo
**/tmp

# Dependencies
**/node_modules

# Testing
**/coverage
**/.nyc_output

# Environment
**/.env**

# IDE
**/.idea
**/.vscode
**/*.swp
**/*.swo

# OS
**/.DS_Store
**/Thumbs.db

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

**/*-debug.log

# Misc
**/.git
**/.gitignore
**/.dockerignore
**/README.md
**/LICENSE 

# Additional
**/httpClientTest
**/firebase_credentials.json