.resource-card {
  background-color: var(--lhui-color-neutral-50);
  border: 1px solid var(--lhui-color-neutral-200);
  border-radius: var(--lhui-radius-lg);
  padding: var(--lhui-spacing-4);
  transition: box-shadow var(--lhui-transition-fast) ease-in-out;

  &:hover {
    box-shadow: var(--lhui-shadow-md);
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--lhui-spacing-3);
  }

  &-type {
    display: flex;
    align-items: center;
    gap: var(--lhui-spacing-2);
  }

  &-type-icon {
    width: 17px;
    height: 17px;

    &-video {
      color: var(--lhui-color-error);
    }

    &-pdf {
      color: var(--lhui-color-primary);
    }

    &-article {
      color: var(--lhui-color-success);
    }
  }

  &-type-label {
    font-size: 12px;
    font-weight: 500;
    color: var(--lhui-color-neutral-500);
    text-transform: capitalize;
  }

  &-actions {
    display: flex;
    gap: var(--lhui-spacing-1);
  }

  &-action-btn {
    padding: var(--lhui-spacing-1) !important;
    color: var(--lhui-color-neutral-400);
    border: none;
    border-radius: var(--lhui-radius-md);

    &:hover {
      &.resource-card-action-btn-view,
      &.resource-card-action-btn-edit {
        color: var(--lhui-color-primary);
      }

      &.resource-card-action-btn-delete {
        color: var(--lhui-color-error);
      }

      &:disabled {
        color: var(--lhui-color-neutral-400);
      }
    }
  }

  &-action-icon {
    width: 1rem;
    height: 1rem;
  }

  &-thumbnail {
    margin-bottom: var(--lhui-spacing-3);
  }

  &-thumbnail-fallback {
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--lhui-color-neutral-100);
    border-radius: var(--lhui-radius-md);

    svg {
      width: 42px;
      height: 42px;
    }
  }

  &-thumbnail-image {
    width: 100%;
    height: 15em;
    object-fit: cover;
    border-radius: var(--lhui-radius-md);
  }

  &-title {
    font-weight: 600;
    color: var(--lhui-color-neutral-900);
    margin-bottom: var(--lhui-spacing-2);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.4;
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--lhui-spacing-1);
    margin-bottom: var(--lhui-spacing-3);
  }

  &-tag {
    display: inline-flex;
    align-items: center;
    padding: var(--lhui-spacing-1) var(--lhui-spacing-2);
    background-color: rgba(var(--lhui-color-primary), 0.1);
    color: var(--lhui-color-primary);
    font-size: 10px;
    border-radius: var(--lhui-radius-full);
    font-weight: 500;
  }

  &-tag-icon {
    width: 10px;
    height: 10px;
    margin-right: var(--lhui-spacing-1);
  }

  &-dates {
    font-size: 10px;
    color: var(--lhui-color-neutral-400);
    line-height: 1.4;
  }
}
