@use "sass:color";
@use "@learning-hub/ui/scss/tokens" as ui;

.error-fallback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  gap: ui.$lhui-spacing-2;

  .error-fallback-icon {
    color: ui.$lhui-color-error;
  }

  .error-fallback-caption {
    text-align: center;
  }

  .error-fallback-message {
    width: 50%;
    text-align: center;
    color: ui.$lhui-color-neutral-500;
    white-space: pre-wrap;
    word-break: break-word;
  }
}
