@use "styles/variables.scss";

.app {
  min-height: 100vh;
  font-family: variables.$font-sans;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
}

input {
  font: inherit;
  border: none;
  outline: none;
}
